
* {
    margin: 0%;
    padding: 0%;
}
@font-face {
    font-family: honey;
    src: url(/Assets/police/Honeycomb-Sharp.otf) 
}
main {
    background-color: rgb(0, 48, 96);
}

p {
    color: white;
}
h1{
    color: white;
    font-family: honey;
}
h2{
    color: white;
}
span{
    color: white;
}

/* Components */
.imageIcon {
    width: 30px;
    height: 30px;
}
.darkButton {
    background-color: rgb(0, 16, 32);
}
.pageUsers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.labelUsers {
    margin: 5px;
    padding: 5px;
}
.navBar {
    background-color: rgb(0, 32, 64);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.UNavBer {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
}

/* Pages pricipales*/
.card {
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
