/*Base du site*/
* {
    margin: 0%;
    padding: 0%;}
@font-face {
    font-family: honey;
    src: url(/Assets/police/Honeycomb-Sharp.otf) }
body {
    background-color: rgb(5, 19, 54);
    min-height: 100%;
    min-width: 100%;}
main {
    min-height: 200%;}
p {
    color: white;}
h1{
    color: white;}
h2{
    color: white;}
h3{
    color: white;}
span{
    color: white;}
    
    /* éléments des navbar*/
.imageIcon {
    width: 30px;
    height: 30px;}
.littleIcon {
    width: 15px;
    height: 15px;}
.navBar {
    background-color: rgb(6, 6, 33);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;}
.UNavBer {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;}
.titre {
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Couleur des Grades Membres*/
.dux {
    color: red;}
.adm {
    color: yellow;}
.mod {
    color: green;}
.usr {
    color: white;}
.mut { 
    color: gray;}